In [ ]:
ส่วนแรกจาก dannyibo โหลดดาต้าจาก sqlite
เสร็จแล้ว set up data to feed in the model ของสิทธัตถะ
จนได้เป็น model RecommenderNet() ออกมา
เสร็จแล้วกลับมาเอา user_input() ของแดนนี่
กลับไปใส่ในโมเดลของสิทธัตถะ
แล้วเอาผลลัพธ์กลับมาออก flask เหมือนแดนนี่

In [ ]:
#from danny
#เท่โคตร ก็เลยไป query table movies มาใหม่

#จาก engine ไม่ต้องสั่งโหลดจากไฟล์ แต่สั่ง query มาแทน

movie_id_unique = 'SELECT * FROM movies'

all_movies = pd.read_sql(movie_id_unique, engine)

all_movies

In [ ]:
#นี่คือ df ที่จะเอามาใช้ตั้งต้น แล้วลบออกด้วย process_user_input()

## อ่อ แล้วต้องแปลงกลับไปเป็น ratings.csv ใหม่ด้วยสิ เพราะผลลัพธ์ที่อยากได้คือ y = df["ratings"] ถูกไหม

#แล้วค่อยเอามันไปใส่ใน predict()

#แต่เดี๋ยวต้องมาไล่ดูว่าจะใส่ฟังชั่นตรงไหนบ้างแล้วเรียกยังไง

​

ดูสิมีหนัง 9741 เรื่อง แต่มี movieId ตั้ง 193609 ratings

	index 	movieId 	title 	genres
0 	0 	1 	Toy Story (1995) 	Adventure|Animation|Children|Comedy|Fantasy
1 	1 	2 	Jumanji (1995) 	Adventure|Children|Fantasy
2 	2 	3 	Grumpier Old Men (1995) 	Comedy|Romance
3 	3 	4 	Waiting to Exhale (1995) 	Comedy|Drama|Romance
4 	4 	5 	Father of the Bride Part II (1995) 	Comedy
... 	... 	... 	... 	...
9737 	9737 	193581 	Black Butler: Book of the Atlantic (2017) 	Action|Animation|Comedy|Fantasy
9738 	9738 	193583 	No Game No Life: Zero (2017) 	Animation|Comedy|Fantasy
9739 	9739 	193585 	Flint (2017) 	Drama
9740 	9740 	193587 	Bungo Stray Dogs: Dead Apple (2018) 	Action|Animation
9741 	9741 	193609 	Andrew Dice Clay: Dice Rules (1991) 	Comedy

9742 rows × 4 columns

In [1]:
pip show tensorflow

Name: tensorflow
Version: 2.3.1
Summary: TensorFlow is an open source machine learning framework for everyone.
Home-page: https://www.tensorflow.org/
Author: Google Inc.
Author-email: packages@tensorflow.org
License: Apache 2.0
Location: /opt/conda/lib/python3.8/site-packages
Requires: opt-einsum, absl-py, gast, numpy, tensorboard, keras-preprocessing, termcolor, wheel, six, google-pasta, wrapt, grpcio, tensorflow-estimator, astunparse, protobuf, h5py
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [3]:
python3 -c 'import tensorflow as tf; print(tf.__version__)'  # for Python 3

SyntaxError: invalid syntax (<ipython-input-3-6da4a075376c>, line 1)

In [ ]:
#from siddhartha

import numpy as np
user_movie_array = np.hstack(
    ([[user_encoder]] * len(movies_not_watched), movies_not_watched)
)
user_movie_array

In [ ]:
array([[ 289,  481],
       [ 289,    1],
       [ 289,  482],
       ...,
       [ 289, 3870],
       [ 289, 2989],
       [ 289, 7869]])

In [ ]:
จริงๆเอาแค่ movies_not_watched ก็พอ เพราะมี user คนเดียว

In [ ]:
#ประเด็นอยู่ตรงนี้
df["movie"] = df["movieId"].map(movie2movie_encoded)

In [ ]:
#แต่เดี๋ยวที่เราจะใช้ก็คือ index ไม่ใช่ movieId

In [ ]:
#from danny again

all_movies[5400:5420]

#หาบรรทัดนี้อยู่นาน ว่าทำไมอยู่ดีๆ Id มันถึงกระโดดไปเยอะขนาดนั้น

#แต่เดี๋ยวที่เราจะใช้ก็คือ index ไม่ใช่ movieId

	index 	movieId 	title 	genres
5400 	5400 	9018 	Control Room (2004) 	Documentary|War
5401 	5401 	25746 	Hunchback of Notre Dame, The (1923) 	Drama|Horror
5402 	5402 	25750 	Sherlock Jr. (1924) 	Comedy|Fantasy|Romance
5403 	5403 	25752 	Freshman, The (1925) 	Comedy
5404 	5404 	25753 	Greed (1924) 	Drama
5405 	5405 	25757 	Jazz Singer, The (1927) 	Drama|Musical|Romance
5406 	5406 	25769 	Steamboat Bill, Jr. (1928) 	Comedy|Romance
5407 	5407 	25771 	Andalusian Dog, An (Chien andalou, Un) (1929) 	Fantasy
5408 	5408 	25773 	Little Caesar (1931) 	Crime|Drama
5409 	5409 	25782 	Boudu Saved From Drowning (Boudu sauvé des eau... 	Comedy
5410 	5410 	25788 	Scarface (1932) 	Crime|Drama

In [ ]:
#from siddhartha

movies_not_watched = movie_df[

    ~movie_df["movieId"].isin(movies_watched_by_user.movieId.values)

]["movieId"]

movies_not_watched

1            2
2            3
3            4
4            5
5            6
         ...  
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9475, dtype: int64

In [ ]:
เอา process_user_input() มาใส่ใน movies_watched_by_user ก็เสร็จแล้ว

In [ ]:
เอาล่ะ ก็กลับไป work on flask ได้
ดูว่า เอาข้อมูลจาก flask มา guess แล้วก็ดึงเอา index ออกมา

In [ ]:
http://0.0.0.0:5000/recommend?movie1=District+9+%282009%29&movie2=Interstellar+%282014%29&movie3=Terminator+2%3A+Judgment+Day+%281991%29

In [ ]:
ได้ movieId มา แล้วเอามา map กับ index ใช่ไหม
ไม่ต้อง map เอามาใช้ได้เลย ลบออกจาก all_movies แต่จริงๆลบออกจาก all_ratings เลยก็ได้
ไม่ได้จะ map แต่โมเดลต้องใช้ทั้งสอง
ใช่ๆต้อง map บ้าป่าว

70286

109487

589

In [3]:
#first create engine
#นี่เรามี sqlite อยู่บน host แต่ถ้าในกล่อง เราก็ต้อง pip install pysqlite3 เพิ่มใน requirements.txt

from sqlalchemy import create_engine

engine = create_engine('sqlite:///recommender4.db', echo=False)
engine

Engine(sqlite:///recommender4.db)

In [2]:
pwd

'/flask_jupyter'

In [10]:
ls

app.db                             load_modify_data.ipynb  requirements.txt
APP.DB                             modelcopykeras.py       Untitled1.ipynb
combine_dannyibo_sidthartha.ipynb  modelselect.py          Untitled2.ipynb
dannyibo.ipynb                     modeltry.py             Untitled.ipynb
data/                              __pycache__/            why.ipynb
dockerfile                         recommender2.db
justcopykeras.ipynb                recommender.db

In [5]:
#then load data into database engine
import pandas as pd
import os
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)

#engine = create_engine('sqlite:///recommender2.db', echo=False)

for f in os.listdir('data/movies/ml-latest-small'):
    if f[-4:] == '.csv':
        data = pd.read_csv(f'data/movies/ml-latest-small/{f}')
        data.to_sql(f[:-4], engine)
        print(f[0:-4])

links
ratings
movies
tags

In [6]:
import pandas as pd
movie_id_unique = 'SELECT * FROM movies'

all_movies = pd.read_sql(movie_id_unique, engine)
all_movies

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [7]:
watched_movie_id_list = ['70286', '109487', '589']

#จะเอาสิ่งนี้มาจาก flask แบบบอัตโนมัติยังไงนะ
#for mt in watched_movie_id_list:
    #print(mt)
    #watched_movie_id_list.append(mt)

In [17]:
all_movies.loc[all_movies['movieId'] == 589]

     index  movieId                              title         genres
507    507      589  Terminator 2: Judgment Day (1991)  Action|Sci-Fi

In [18]:
all_movies.loc[all_movies['movieId'] == 109487]

      index  movieId                title       genres
8376   8376   109487  Interstellar (2014)  Sci-Fi|IMAX

In [33]:
all_movies.loc[all_movies['movieId'] == 70286]

      index  movieId              title                   genres
7090   7090    70286  District 9 (2009)  Mystery|Sci-Fi|Thriller

In [22]:
all_ratings.loc[all_ratings['movieId'] == 589]

       userId  movieId                              title  rating
552         5      589  Terminator 2: Judgment Day (1991)     3.0
806         6      589  Terminator 2: Judgment Day (1991)     3.0
886         7      589  Terminator 2: Judgment Day (1991)     2.5
1286       11      589  Terminator 2: Judgment Day (1991)     4.0
1449       15      589  Terminator 2: Judgment Day (1991)     5.0
...       ...      ...                                ...     ...
97461     606      589  Terminator 2: Judgment Day (1991)     3.5
98514     607      589  Terminator 2: Judgment Day (1991)     4.0
98786     608      589  Terminator 2: Judgment Day (1991)     3.0
99519     609      589  Terminator 2: Judgment Day (1991)     3.0
99573     610      589  Terminator 2: Judgment Day (1991)     5.0

[224 rows x 4 columns]

In [8]:
movies_not_watched = all_movies[~all_movies['movieId'].isin(watched_movie_id_list)]
movies_not_watched

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [24]:
movies_not_watched.shape

(9739, 4)

In [14]:
movies_not_watched['index']

0          0
1          1
2          2
3          3
4          4
        ...
9737    9737
9738    9738
9739    9739
9740    9740
9741    9741
Name: index, Length: 9739, dtype: int64

In [15]:
movies_not_watched['index'].shape

(9739,)

In [9]:
import numpy as np
movies_not_watched['fake_id'] = np.ones(len(movies_not_watched), dtype =int)

<ipython-input-9-9f5c6a559623>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_not_watched['fake_id'] = np.ones(len(movies_not_watched), dtype =int)

In [27]:
len(movies_not_watched['index'])

9739

In [62]:
movies_not_watched['fake_id']

0       1
1       1
2       1
3       1
4       1
       ..
9737    1
9738    1
9739    1
9740    1
9741    1
Name: fake_id, Length: 9739, dtype: int64

In [10]:
movies_not_watched

,index,movieId,title,genres,fake_id
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,1
2,2,3,Grumpier Old Men (1995),Comedy|Romance,1
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1
4,4,5,Father of the Bride Part II (1995),Comedy,1
...,...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,1
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,1
9739,9739,193585,Flint (2017),Drama,1
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,1
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1

In [11]:
movies_not_watched[['fake_id','index']]
#what index is missing? :) how to check? scroll up

      fake_id  index
0           1      0
1           1      1
2           1      2
3           1      3
4           1      4
...       ...    ...
9737        1   9737
9738        1   9738
9739        1   9739
9740        1   9740
9741        1   9741

[9739 rows x 2 columns]

In [34]:
movies_not_watched[['fake_id','index']].shape

(9739, 2)

In [ ]:
เสร็จแล้ว เอา movies_not_watched ไปยัดลงใน all_ratings เพื่อจะเอาไปเทรน จริงๆก็คือ all_ratings นั่นแหละ 
แต่ลบ 5 เรื่องที่เลือกมาแล้วออก

In [14]:
query = 'SELECT "userId", ratings."movieId", movies.title, rating FROM ratings JOIN movies ON ratings."movieId" = movies."movieId";'
all_ratings = pd.read_sql(query, engine)
all_ratings

        userId  movieId                           title  rating
0            1        1                Toy Story (1995)     4.0
1            1        3         Grumpier Old Men (1995)     4.0
2            1        6                     Heat (1995)     4.0
3            1       47     Seven (a.k.a. Se7en) (1995)     5.0
4            1       50      Usual Suspects, The (1995)     5.0
...        ...      ...                             ...     ...
100831     610   166534                    Split (2017)     4.0
100832     610   168248   John Wick: Chapter Two (2017)     5.0
100833     610   168250                  Get Out (2017)     5.0
100834     610   168252                    Logan (2017)     5.0
100835     610   170875  The Fate of the Furious (2017)     3.0

[100836 rows x 4 columns]

In [15]:
#not_all_ratings = all_movies[~all_movies['movieId'].isin(watched_movie_id_list)]
not_all_ratings = all_ratings[~all_ratings['movieId'].isin(watched_movie_id_list)]
not_all_ratings

        userId  movieId                           title  rating
0            1        1                Toy Story (1995)     4.0
1            1        3         Grumpier Old Men (1995)     4.0
2            1        6                     Heat (1995)     4.0
3            1       47     Seven (a.k.a. Se7en) (1995)     5.0
4            1       50      Usual Suspects, The (1995)     5.0
...        ...      ...                             ...     ...
100831     610   166534                    Split (2017)     4.0
100832     610   168248   John Wick: Chapter Two (2017)     5.0
100833     610   168250                  Get Out (2017)     5.0
100834     610   168252                    Logan (2017)     5.0
100835     610   170875  The Fate of the Furious (2017)     3.0

[100474 rows x 4 columns]

In [28]:
#df = all_ratings
user_ids = all_ratings["userId"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}
movie_ids = all_ratings["movieId"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}
all_ratings["user"] = all_ratings["userId"].map(user2user_encoded)
all_ratings["movie"] = all_ratings["movieId"].map(movie2movie_encoded)
all_ratings["user"]

0           0
1           0
2           0
3           0
4           0
         ...
100831    609
100832    609
100833    609
100834    609
100835    609
Name: user, Length: 100836, dtype: int64

In [29]:
all_ratings["movie"]

0            0
1            1
2            2
3            3
4            4
          ...
100831    3120
100832    2035
100833    3121
100834    1392
100835    2873
Name: movie, Length: 100836, dtype: int64

In [30]:
all_ratings["movie"][100000:100025]

100000    5425
100001    2966
100002    3141
100003    2250
100004    9050
100005    7000
100006     773
100007    1217
100008    5880
100009     774
100010    2968
100011    2515
100012    9569
100013    3198
100014     882
100015    9053
100016    5748
100017    4983
100018    7606
100019    3199
100020    1129
100021    4184
100022    5225
100023    1221
100024    3143
Name: movie, dtype: int64

In [ ]:
เอาอินเด็กซ์ จาก all_movies 
แล้วก็ movieId จาก all_ratings
ตอนนี้มี not_all_ratings ก็เอา movieId มา
not_all_ratings["movieId"]

In [31]:
not_all_ratings["movieId"]

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100474, dtype: int64

In [ ]:
#length = 100474

In [33]:
all_movies["index"]

0          0
1          1
2          2
3          3
4          4
        ...
9737    9737
9738    9738
9739    9739
9740    9740
9741    9741
Name: index, Length: 9742, dtype: int64

In [44]:
not_all_movies = all_movies[~movies_not_watched]
#not_all_movies = all_movies[~all_movies["index"].isin(watched_movie_id_list)]

not_all_movies
#อันนี้น่าจะผิด เพราะความยาวยังเท่าเดิมได้ไง ต้องหายไปสามเรื่องสิ น่าจะผิดตรง watched_movie_id_list เพราะไม่มีอันไหนอยู่เลย
# all_movies["index"] มาลบออก ไม่ใช่ watched_movie_id_list

TypeError: bad operand type for unary ~: 'str'

In [45]:
movies_not_watched["index"]

0          0
1          1
2          2
3          3
4          4
        ...
9737    9737
9738    9738
9739    9739
9740    9740
9741    9741
Name: index, Length: 9739, dtype: int64

In [ ]:
เอา not_all_ratings มาใส่ movies_not_watched['index'] เพิ่มไปเป็นคอลัมน์ใหม่ จะเท่ากับ df['movie']

In [35]:
all_movies.loc[all_movies['movieId'] == 70286, 'index']

7090    7090
Name: index, dtype: int64

In [36]:
all_movies[all_movies['index'] == 7090]['title']

7090    District 9 (2009)
Name: title, dtype: object

In [37]:
all_movies.loc[all_movies['movieId'] == 109487, 'index']

8376    8376
Name: index, dtype: int64

In [38]:
all_movies.loc[all_movies['movieId'] == 589, 'index']

507    507
Name: index, dtype: int64

In [ ]:
เอาอินเด็กซ์ตั้งคอลัมน์แรก ต่อด้วย ratings ที่เหลืออยู่เป็นคอลัมน์สอง
ก็เอา not_all_ratings มา แล้วเพิ่ม ืnot_all_movies["index"] เข้าไป

In [47]:
import numpy as np
all_ratings["rating"] = all_ratings["rating"].values.astype(np.float32)
all_ratings['rating']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100836, dtype: float32

In [54]:
all_ratings['movie']

0            0
1            1
2            2
3            3
4            4
          ...
100831    3120
100832    2035
100833    3121
100834    1392
100835    2873
Name: movie, Length: 100836, dtype: int64

In [ ]:
no

In [16]:
not_all_ratings['movieindex'] = movies_not_watched['index']
not_all_ratings['movieindex']

<ipython-input-16-d7413c530772>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_all_ratings['movieindex'] = movies_not_watched['index']

0         0.0
1         1.0
2         2.0
3         3.0
4         4.0
         ...
100831    NaN
100832    NaN
100833    NaN
100834    NaN
100835    NaN
Name: movieindex, Length: 100474, dtype: float64

In [50]:
not_all_ratings
#ผิด ต้อง map not_all_ratings['movieId'] เข้ากับ movies_not_watched['index'] ก่อน ถึงจะเอาไปทำคอลัมน์ใหม่ได้

        userId  movieId                           title  rating  movieindex
0            1        1                Toy Story (1995)     4.0         0.0
1            1        3         Grumpier Old Men (1995)     4.0         1.0
2            1        6                     Heat (1995)     4.0         2.0
3            1       47     Seven (a.k.a. Se7en) (1995)     5.0         3.0
4            1       50      Usual Suspects, The (1995)     5.0         4.0
...        ...      ...                             ...     ...         ...
100831     610   166534                    Split (2017)     4.0         NaN
100832     610   168248   John Wick: Chapter Two (2017)     5.0         NaN
100833     610   168250                  Get Out (2017)     5.0         NaN
100834     610   168252                    Logan (2017)     5.0         NaN
100835     610   170875  The Fate of the Furious (2017)     3.0         NaN

[100474 rows x 5 columns]

In [17]:
not_all_ratings[5:20] #ผิด

,userId,movieId,title,rating,movieindex
5,1,70,From Dusk Till Dawn (1996),3.0,5.0
6,1,101,Bottle Rocket (1996),5.0,6.0
7,1,110,Braveheart (1995),4.0,7.0
8,1,151,Rob Roy (1995),5.0,8.0
9,1,157,Canadian Bacon (1995),5.0,9.0
10,1,163,Desperado (1995),5.0,10.0
11,1,216,Billy Madison (1995),5.0,11.0
12,1,223,Clerks (1994),3.0,12.0
13,1,231,Dumb & Dumber (Dumb and Dumber) (1994),5.0,13.0
14,1,235,Ed Wood (1994),4.0,14.0
15,1,260,Star Wars: Episode IV - A New Hope (1977),5.0,15.0
16,1,296,Pulp Fiction (1994),3.0,16.0
17,1,316,Stargate (1994),3.0,17.0
18,1,333,Tommy Boy (1995),5.0,18.0
19,1,349,Clear and Present Danger (1994),4.0,19.0

In [53]:
movie_ids = all_ratings["movieId"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}
all_ratings["movie"] = all_ratings["movieId"].map(movie2movie_encoded)

In [18]:
movieindex = not_all_ratings['movieId'].unique().tolist()
movieindex

[1,
 3,
 6,
 47,
 50,
 70,
 101,
 110,
 151,
 157,
 163,
 216,
 223,
 231,
 235,
 260,
 296,
 316,
 333,
 349,
 356,
 362,
 367,
 423,
 441,
 457,
 480,
 500,
 527,
 543,
 552,
 553,
 590,
 592,
 593,
 596,
 608,
 648,
 661,
 673,
 733,
 736,
 780,
 804,
 919,
 923,
 940,
 943,
 954,
 1009,
 1023,
 1024,
 1025,
 1029,
 1030,
 1031,
 1032,
 1042,
 1049,
 1060,
 1073,
 1080,
 1089,
 1090,
 1092,
 1097,
 1127,
 1136,
 1196,
 1197,
 1198,
 1206,
 1208,
 1210,
 1213,
 1214,
 1219,
 1220,
 1222,
 1224,
 1226,
 1240,
 1256,
 1258,
 1265,
 1270,
 1275,
 1278,
 1282,
 1291,
 1298,
 1348,
 1377,
 1396,
 1408,
 1445,
 1473,
 1500,
 1517,
 1552,
 1573,
 1580,
 1587,
 1617,
 1620,
 1625,
 1644,
 1676,
 1732,
 1777,
 1793,
 1804,
 1805,
 1920,
 1927,
 1954,
 1967,
 2000,
 2005,
 2012,
 2018,
 2028,
 2033,
 2046,
 2048,
 2054,
 2058,
 2078,
 2090,
 2093,
 2094,
 2096,
 2099,
 2105,
 2115,
 2116,
 2137,
 2139,
 2141,
 2143,
 2161,
 2174,
 2193,
 2253,
 2268,
 2273,
 2291,
 2329,
 2338,
 2353,
 2366,
 2387,
 2389,
 2395,
 2406,
 2414,
 2427,
 2450,
 2459,
 2470,
 2478,
 2492,
 2502,
 2528,
 2529,
 2542,
 2571,
 2580,
 2596,
 2616,
 2617,
 2628,
 2640,
 2641,
 2644,
 2648,
 2654,
 2657,
 2692,
 2700,
 2716,
 2761,
 2797,
 2826,
 2858,
 2872,
 2899,
 2916,
 2944,
 2947,
 2948,
 2949,
 2959,
 2985,
 2987,
 2991,
 2993,
 2997,
 3033,
 3034,
 3052,
 3053,
 3062,
 3147,
 3168,
 3176,
 3243,
 3247,
 3253,
 3273,
 3386,
 3439,
 3440,
 3441,
 3448,
 3450,
 3479,
 3489,
 3527,
 3578,
 3617,
 3639,
 3671,
 3702,
 3703,
 3729,
 3740,
 3744,
 3793,
 3809,
 4006,
 5060,
 318,
 1704,
 6874,
 8798,
 46970,
 48516,
 58559,
 60756,
 68157,
 71535,
 74458,
 77455,
 79132,
 80489,
 80906,
 86345,
 89774,
 91529,
 91658,
 99114,
 106782,
 112552,
 114060,
 115713,
 122882,
 131724,
 31,
 647,
 688,
 720,
 849,
 914,
 1093,
 1124,
 1263,
 1272,
 1302,
 1371,
 2080,
 2288,
 2424,
 2851,
 3024,
 3210,
 3949,
 4518,
 5048,
 5181,
 5746,
 5764,
 5919,
 6238,
 6835,
 7899,
 7991,
 26409,
 70946,
 72378,
 21,
 32,
 45,
 52,
 58,
 106,
 125,
 126,
 162,
 171,
 176,
 190,
 215,
 222,
 232,
 247,
 265,
 319,
 342,
 345,
 348,
 351,
 357,
 368,
 417,
 450,
 475,
 492,
 509,
 538,
 539,
 588,
 595,
 599,
 708,
 759,
 800,
 892,
 898,
 899,
 902,
 904,
 908,
 910,
 912,
 920,
 930,
 937,
 1046,
 1057,
 1077,
 1079,
 1084,
 1086,
 1094,
 1103,
 1179,
 1183,
 1188,
 1199,
 1203,
 1211,
 1225,
 1250,
 1259,
 1266,
 1279,
 1283,
 1288,
 1304,
 1391,
 1449,
 1466,
 1597,
 1641,
 1719,
 1733,
 1734,
 1834,
 1860,
 1883,
 1885,
 1892,
 1895,
 1907,
 1914,
 1916,
 1923,
 1947,
 1966,
 1968,
 2019,
 2076,
 2109,
 2145,
 2150,
 2186,
 2203,
 2204,
 2282,
 2324,
 2336,
 2351,
 2359,
 2390,
 2467,
 2583,
 2599,
 2683,
 2712,
 2762,
 2763,
 2770,
 2791,
 2843,
 2874,
 2921,
 2926,
 2973,
 3044,
 3060,
 3079,
 3083,
 3160,
 3175,
 3204,
 3255,
 3317,
 3358,
 3365,
 3408,
 3481,
 3508,
 3538,
 3591,
 3788,
 3851,
 3897,
 3911,
 3967,
 3996,
 4002,
 4014,
 4020,
 4021,
 4027,
 4029,
 4033,
 4034,
 4074,
 4121,
 4144,
 4166,
 4226,
 4239,
 4246,
 4252,
 4260,
 4273,
 4308,
 4347,
 4381,
 4641,
 4741,
 4765,
 4881,
 4896,
 4902,
 4967,
 34,
 36,
 39,
 150,
 153,
 253,
 261,
 266,
 290,
 300,
 344,
 364,
 380,
 410,
 474,
 515,
 531,
 534,
 594,
 597,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 15,
 16,
 17,
 19,
 22,
 24,
 25,
 26,
 27,
 41,
 43,
 46,
 54,
 60,
 61,
 62,
 65,
 66,
 76,
 79,
 86,
 87,
 88,
 89,
 92,
 93,
 95,
 100,
 102,
 104,
 105,
 112,
 113,
 135,
 140,
 141,
 145,
 146,
 158,
 159,
 160,
 161,
 165,
 168,
 170,
 174,
 177,
 179,
 180,
 181,
 185,
 186,
 189,
 191,
 195,
 196,
 201,
 204,
 205,
 207,
 208,
 209,
 210,
 212,
 217,
 218,
 219,
 224,
 225,
 230,
 234,
 236,
 237,
 239,
 240,
 243,
 248,
 250,
 251,
 252,
 254,
 256,
 257,
 258,
 262,
 267,
 270,
 271,
 273,
 274,
 276,
 277,
 279,
 281,
 282,
 288,
 289,
 291,
 292,
 293,
 302,
 303,
 304,
 310,
 312,
 313,
 314,
 315,
 317,
 327,
 329,
 330,
 332,
 336,
 337,
 339,
 340,
 343,
 347,
 350,
 352,
 353,
 354,
 355,
 358,
 359,
 360,
 361,
 366,
 370,
 371,
 374,
 377,
 378,
 381,
 382,
 383,
 405,
 412,
 415,
 416,
 419,
 426,
 432,
 434,
 435,
 437,
 440,
 445,
 454,
 455,
 458,
 460,
 466,
 468,
 469,
 472,
 477,
 485,
 489,
 490,
 491,
 493,
 494,
 497,
 502,
 505,
 508,
 510,
 516,
 520,
 524,
 532,
 536,
 537,
 540,
 542,
 546,
 548,
 569,
 575,
 587,
 606,
 609,
 616,
 628,
 631,
 637,
 640,
 662,
 667,
 694,
 697,
 700,
 704,
 709,
 710,
 711,
 719,
 747,
 762,
 765,
 775,
 783,
 795,
 799,
 801,
 802,
 818,
 830,
 835,
 837,
 838,
 839,
 842,
 848,
 852,
 867,
 880,
 881,
 888,
 891,
 979,
 981,
 986,
 991,
 996,
 999,
 1004,
 1006,
 1061,
 1064,
 1082,
 750,
 924,
 1101,
 1246,
 1584,
 1610,
 1682,
 1784,
 1917,
 2671,
 2688,
 2701,
 2717,
 3114,
 3354,
 3623,
 3869,
 3916,
 3977,
 3994,
 4018,
 4223,
 4306,
 4310,
 4370,
 4643,
 4700,
 4844,
 4874,
 4886,
 4963,
 4993,
 4995,
 5218,
 5349,
 5378,
 5445,
 5459,
 5464,
 5502,
 5618,
 5816,
 5952,
 5989,
 5991,
 6333,
 6365,
 6534,
 6539,
 6863,
 6934,
 7143,
 7153,
 7155,
 7445,
 8207,
 8360,
 8368,
 8373,
 8528,
 8636,
 8665,
 8666,
 8783,
 8808,
 8865,
 8870,
 8907,
 8908,
 8949,
 8957,
 8958,
 8961,
 8965,
 8970,
 8972,
 8984,
 27741,
 30812,
 30816,
 31878,
 32029,
 32031,
 32296,
 32587,
 33162,
 33493,
 33794,
 33836,
 34048,
 34319,
 37741,
 38388,
 42002,
 45499,
 45517,
 45668,
 45730,
 46530,
 48783,
 48997,
 49272,
 49278,
 49286,
 49824,
 586,
 187,
 627,
 922,
 1037,
 1095,
 1674,
 1987,
 2011,
 2023,
 2300,
 2877,
 2901,
 3173,
 3328,
 3735,
 4131,
 4558,
 5447,
 5451,
 5481,
 5507,
 5841,
 5843,
 5872,
 5890,
 5891,
 5893,
 5902,
 5956,
 5962,
 5965,
 5988,
 6001,
 6044,
 1028,
 1088,
 1247,
 1307,
 3882,
 4447,
 5066,
 5377,
 5620,
 5943,
 5957,
 6155,
 6266,
 6377,
 6535,
 6942,
 7149,
 7151,
 7154,
 7169,
 7293,
 7375,
 7451,
 7458,
 8529,
 8533,
 8869,
 8969,
 30749,
 31433,
 31685,
 33145,
 33679,
 40629,
 40819,
 41285,
 47099,
 51662,
 51705,
 51834,
 54286,
 56367,
 56949,
 58047,
 59333,
 59421,
 60397,
 60950,
 61250,
 63113,
 63992,
 64969,
 66203,
 68954,
 69406,
 69844,
 70183,
 70293,
 71579,
 72011,
 72330,
 72407,
 72720,
 72737,
 72998,
 73017,
 74450,
 77841,
 78772,
 79091,
 80549,
 81784,
 81845,
 81847,
 82167,
 82499,
 84374,
 86548,
 87222,
 88163,
 88810,
 91104,
 92259,
 94070,
 95167,
 95449,
 95510,
 95543,
 96079,
 97024,
 97938,
 98203,
 103335,
 103339,
 104374,
 105211,
 106489,
 106696,
 107141,
 109374,
 109853,
 112006,
 113275,
 113394,
 119145,
 129428,
 136020,
 137595,
 140110,
 44,
 376,
 511,
 529,
 1100,
 1358,
 1370,
 1385,
 1438,
 1518,
 1586,
 1604,
 1608,
 1616,
 1687,
 1693,
 1721,
 1840,
 1882,
 1918,
 2002,
 2027,
 1357,
 1405,
 1876,
 2072,
 2100,
 2421,
 2485,
 2572,
 2581,
 ...]

In [56]:
len(movieindex) #from not_all_ratings

9721

In [57]:
len(movie_ids) #from all_ratings

9724

In [19]:
dl_movie2movie_encoded = {x: i for i, x in enumerate(movieindex)}
dl_movie2movie_encoded

{1: 0,
 3: 1,
 6: 2,
 47: 3,
 50: 4,
 70: 5,
 101: 6,
 110: 7,
 151: 8,
 157: 9,
 163: 10,
 216: 11,
 223: 12,
 231: 13,
 235: 14,
 260: 15,
 296: 16,
 316: 17,
 333: 18,
 349: 19,
 356: 20,
 362: 21,
 367: 22,
 423: 23,
 441: 24,
 457: 25,
 480: 26,
 500: 27,
 527: 28,
 543: 29,
 552: 30,
 553: 31,
 590: 32,
 592: 33,
 593: 34,
 596: 35,
 608: 36,
 648: 37,
 661: 38,
 673: 39,
 733: 40,
 736: 41,
 780: 42,
 804: 43,
 919: 44,
 923: 45,
 940: 46,
 943: 47,
 954: 48,
 1009: 49,
 1023: 50,
 1024: 51,
 1025: 52,
 1029: 53,
 1030: 54,
 1031: 55,
 1032: 56,
 1042: 57,
 1049: 58,
 1060: 59,
 1073: 60,
 1080: 61,
 1089: 62,
 1090: 63,
 1092: 64,
 1097: 65,
 1127: 66,
 1136: 67,
 1196: 68,
 1197: 69,
 1198: 70,
 1206: 71,
 1208: 72,
 1210: 73,
 1213: 74,
 1214: 75,
 1219: 76,
 1220: 77,
 1222: 78,
 1224: 79,
 1226: 80,
 1240: 81,
 1256: 82,
 1258: 83,
 1265: 84,
 1270: 85,
 1275: 86,
 1278: 87,
 1282: 88,
 1291: 89,
 1298: 90,
 1348: 91,
 1377: 92,
 1396: 93,
 1408: 94,
 1445: 95,
 1473: 96,
 1500: 97,
 1517: 98,
 1552: 99,
 1573: 100,
 1580: 101,
 1587: 102,
 1617: 103,
 1620: 104,
 1625: 105,
 1644: 106,
 1676: 107,
 1732: 108,
 1777: 109,
 1793: 110,
 1804: 111,
 1805: 112,
 1920: 113,
 1927: 114,
 1954: 115,
 1967: 116,
 2000: 117,
 2005: 118,
 2012: 119,
 2018: 120,
 2028: 121,
 2033: 122,
 2046: 123,
 2048: 124,
 2054: 125,
 2058: 126,
 2078: 127,
 2090: 128,
 2093: 129,
 2094: 130,
 2096: 131,
 2099: 132,
 2105: 133,
 2115: 134,
 2116: 135,
 2137: 136,
 2139: 137,
 2141: 138,
 2143: 139,
 2161: 140,
 2174: 141,
 2193: 142,
 2253: 143,
 2268: 144,
 2273: 145,
 2291: 146,
 2329: 147,
 2338: 148,
 2353: 149,
 2366: 150,
 2387: 151,
 2389: 152,
 2395: 153,
 2406: 154,
 2414: 155,
 2427: 156,
 2450: 157,
 2459: 158,
 2470: 159,
 2478: 160,
 2492: 161,
 2502: 162,
 2528: 163,
 2529: 164,
 2542: 165,
 2571: 166,
 2580: 167,
 2596: 168,
 2616: 169,
 2617: 170,
 2628: 171,
 2640: 172,
 2641: 173,
 2644: 174,
 2648: 175,
 2654: 176,
 2657: 177,
 2692: 178,
 2700: 179,
 2716: 180,
 2761: 181,
 2797: 182,
 2826: 183,
 2858: 184,
 2872: 185,
 2899: 186,
 2916: 187,
 2944: 188,
 2947: 189,
 2948: 190,
 2949: 191,
 2959: 192,
 2985: 193,
 2987: 194,
 2991: 195,
 2993: 196,
 2997: 197,
 3033: 198,
 3034: 199,
 3052: 200,
 3053: 201,
 3062: 202,
 3147: 203,
 3168: 204,
 3176: 205,
 3243: 206,
 3247: 207,
 3253: 208,
 3273: 209,
 3386: 210,
 3439: 211,
 3440: 212,
 3441: 213,
 3448: 214,
 3450: 215,
 3479: 216,
 3489: 217,
 3527: 218,
 3578: 219,
 3617: 220,
 3639: 221,
 3671: 222,
 3702: 223,
 3703: 224,
 3729: 225,
 3740: 226,
 3744: 227,
 3793: 228,
 3809: 229,
 4006: 230,
 5060: 231,
 318: 232,
 1704: 233,
 6874: 234,
 8798: 235,
 46970: 236,
 48516: 237,
 58559: 238,
 60756: 239,
 68157: 240,
 71535: 241,
 74458: 242,
 77455: 243,
 79132: 244,
 80489: 245,
 80906: 246,
 86345: 247,
 89774: 248,
 91529: 249,
 91658: 250,
 99114: 251,
 106782: 252,
 112552: 253,
 114060: 254,
 115713: 255,
 122882: 256,
 131724: 257,
 31: 258,
 647: 259,
 688: 260,
 720: 261,
 849: 262,
 914: 263,
 1093: 264,
 1124: 265,
 1263: 266,
 1272: 267,
 1302: 268,
 1371: 269,
 2080: 270,
 2288: 271,
 2424: 272,
 2851: 273,
 3024: 274,
 3210: 275,
 3949: 276,
 4518: 277,
 5048: 278,
 5181: 279,
 5746: 280,
 5764: 281,
 5919: 282,
 6238: 283,
 6835: 284,
 7899: 285,
 7991: 286,
 26409: 287,
 70946: 288,
 72378: 289,
 21: 290,
 32: 291,
 45: 292,
 52: 293,
 58: 294,
 106: 295,
 125: 296,
 126: 297,
 162: 298,
 171: 299,
 176: 300,
 190: 301,
 215: 302,
 222: 303,
 232: 304,
 247: 305,
 265: 306,
 319: 307,
 342: 308,
 345: 309,
 348: 310,
 351: 311,
 357: 312,
 368: 313,
 417: 314,
 450: 315,
 475: 316,
 492: 317,
 509: 318,
 538: 319,
 539: 320,
 588: 321,
 595: 322,
 599: 323,
 708: 324,
 759: 325,
 800: 326,
 892: 327,
 898: 328,
 899: 329,
 902: 330,
 904: 331,
 908: 332,
 910: 333,
 912: 334,
 920: 335,
 930: 336,
 937: 337,
 1046: 338,
 1057: 339,
 1077: 340,
 1079: 341,
 1084: 342,
 1086: 343,
 1094: 344,
 1103: 345,
 1179: 346,
 1183: 347,
 1188: 348,
 1199: 349,
 1203: 350,
 1211: 351,
 1225: 352,
 1250: 353,
 1259: 354,
 1266: 355,
 1279: 356,
 1283: 357,
 1288: 358,
 1304: 359,
 1391: 360,
 1449: 361,
 1466: 362,
 1597: 363,
 1641: 364,
 1719: 365,
 1733: 366,
 1734: 367,
 1834: 368,
 1860: 369,
 1883: 370,
 1885: 371,
 1892: 372,
 1895: 373,
 1907: 374,
 1914: 375,
 1916: 376,
 1923: 377,
 1947: 378,
 1966: 379,
 1968: 380,
 2019: 381,
 2076: 382,
 2109: 383,
 2145: 384,
 2150: 385,
 2186: 386,
 2203: 387,
 2204: 388,
 2282: 389,
 2324: 390,
 2336: 391,
 2351: 392,
 2359: 393,
 2390: 394,
 2467: 395,
 2583: 396,
 2599: 397,
 2683: 398,
 2712: 399,
 2762: 400,
 2763: 401,
 2770: 402,
 2791: 403,
 2843: 404,
 2874: 405,
 2921: 406,
 2926: 407,
 2973: 408,
 3044: 409,
 3060: 410,
 3079: 411,
 3083: 412,
 3160: 413,
 3175: 414,
 3204: 415,
 3255: 416,
 3317: 417,
 3358: 418,
 3365: 419,
 3408: 420,
 3481: 421,
 3508: 422,
 3538: 423,
 3591: 424,
 3788: 425,
 3851: 426,
 3897: 427,
 3911: 428,
 3967: 429,
 3996: 430,
 4002: 431,
 4014: 432,
 4020: 433,
 4021: 434,
 4027: 435,
 4029: 436,
 4033: 437,
 4034: 438,
 4074: 439,
 4121: 440,
 4144: 441,
 4166: 442,
 4226: 443,
 4239: 444,
 4246: 445,
 4252: 446,
 4260: 447,
 4273: 448,
 4308: 449,
 4347: 450,
 4381: 451,
 4641: 452,
 4741: 453,
 4765: 454,
 4881: 455,
 4896: 456,
 4902: 457,
 4967: 458,
 34: 459,
 36: 460,
 39: 461,
 150: 462,
 153: 463,
 253: 464,
 261: 465,
 266: 466,
 290: 467,
 300: 468,
 344: 469,
 364: 470,
 380: 471,
 410: 472,
 474: 473,
 515: 474,
 531: 475,
 534: 476,
 594: 477,
 597: 478,
 2: 479,
 4: 480,
 5: 481,
 7: 482,
 8: 483,
 10: 484,
 11: 485,
 13: 486,
 15: 487,
 16: 488,
 17: 489,
 19: 490,
 22: 491,
 24: 492,
 25: 493,
 26: 494,
 27: 495,
 41: 496,
 43: 497,
 46: 498,
 54: 499,
 60: 500,
 61: 501,
 62: 502,
 65: 503,
 66: 504,
 76: 505,
 79: 506,
 86: 507,
 87: 508,
 88: 509,
 89: 510,
 92: 511,
 93: 512,
 95: 513,
 100: 514,
 102: 515,
 104: 516,
 105: 517,
 112: 518,
 113: 519,
 135: 520,
 140: 521,
 141: 522,
 145: 523,
 146: 524,
 158: 525,
 159: 526,
 160: 527,
 161: 528,
 165: 529,
 168: 530,
 170: 531,
 174: 532,
 177: 533,
 179: 534,
 180: 535,
 181: 536,
 185: 537,
 186: 538,
 189: 539,
 191: 540,
 195: 541,
 196: 542,
 201: 543,
 204: 544,
 205: 545,
 207: 546,
 208: 547,
 209: 548,
 210: 549,
 212: 550,
 217: 551,
 218: 552,
 219: 553,
 224: 554,
 225: 555,
 230: 556,
 234: 557,
 236: 558,
 237: 559,
 239: 560,
 240: 561,
 243: 562,
 248: 563,
 250: 564,
 251: 565,
 252: 566,
 254: 567,
 256: 568,
 257: 569,
 258: 570,
 262: 571,
 267: 572,
 270: 573,
 271: 574,
 273: 575,
 274: 576,
 276: 577,
 277: 578,
 279: 579,
 281: 580,
 282: 581,
 288: 582,
 289: 583,
 291: 584,
 292: 585,
 293: 586,
 302: 587,
 303: 588,
 304: 589,
 310: 590,
 312: 591,
 313: 592,
 314: 593,
 315: 594,
 317: 595,
 327: 596,
 329: 597,
 330: 598,
 332: 599,
 336: 600,
 337: 601,
 339: 602,
 340: 603,
 343: 604,
 347: 605,
 350: 606,
 352: 607,
 353: 608,
 354: 609,
 355: 610,
 358: 611,
 359: 612,
 360: 613,
 361: 614,
 366: 615,
 370: 616,
 371: 617,
 374: 618,
 377: 619,
 378: 620,
 381: 621,
 382: 622,
 383: 623,
 405: 624,
 412: 625,
 415: 626,
 416: 627,
 419: 628,
 426: 629,
 432: 630,
 434: 631,
 435: 632,
 437: 633,
 440: 634,
 445: 635,
 454: 636,
 455: 637,
 458: 638,
 460: 639,
 466: 640,
 468: 641,
 469: 642,
 472: 643,
 477: 644,
 485: 645,
 489: 646,
 490: 647,
 491: 648,
 493: 649,
 494: 650,
 497: 651,
 502: 652,
 505: 653,
 508: 654,
 510: 655,
 516: 656,
 520: 657,
 524: 658,
 532: 659,
 536: 660,
 537: 661,
 540: 662,
 542: 663,
 546: 664,
 548: 665,
 569: 666,
 575: 667,
 587: 668,
 606: 669,
 609: 670,
 616: 671,
 628: 672,
 631: 673,
 637: 674,
 640: 675,
 662: 676,
 667: 677,
 694: 678,
 697: 679,
 700: 680,
 704: 681,
 709: 682,
 710: 683,
 711: 684,
 719: 685,
 747: 686,
 762: 687,
 765: 688,
 775: 689,
 783: 690,
 795: 691,
 799: 692,
 801: 693,
 802: 694,
 818: 695,
 830: 696,
 835: 697,
 837: 698,
 838: 699,
 839: 700,
 842: 701,
 848: 702,
 852: 703,
 867: 704,
 880: 705,
 881: 706,
 888: 707,
 891: 708,
 979: 709,
 981: 710,
 986: 711,
 991: 712,
 996: 713,
 999: 714,
 1004: 715,
 1006: 716,
 1061: 717,
 1064: 718,
 1082: 719,
 750: 720,
 924: 721,
 1101: 722,
 1246: 723,
 1584: 724,
 1610: 725,
 1682: 726,
 1784: 727,
 1917: 728,
 2671: 729,
 2688: 730,
 2701: 731,
 2717: 732,
 3114: 733,
 3354: 734,
 3623: 735,
 3869: 736,
 3916: 737,
 3977: 738,
 3994: 739,
 4018: 740,
 4223: 741,
 4306: 742,
 4310: 743,
 4370: 744,
 4643: 745,
 4700: 746,
 4844: 747,
 4874: 748,
 4886: 749,
 4963: 750,
 4993: 751,
 4995: 752,
 5218: 753,
 5349: 754,
 5378: 755,
 5445: 756,
 5459: 757,
 5464: 758,
 5502: 759,
 5618: 760,
 5816: 761,
 5952: 762,
 5989: 763,
 5991: 764,
 6333: 765,
 6365: 766,
 6534: 767,
 6539: 768,
 6863: 769,
 6934: 770,
 7143: 771,
 7153: 772,
 7155: 773,
 7445: 774,
 8207: 775,
 8360: 776,
 8368: 777,
 8373: 778,
 8528: 779,
 8636: 780,
 8665: 781,
 8666: 782,
 8783: 783,
 8808: 784,
 8865: 785,
 8870: 786,
 8907: 787,
 8908: 788,
 8949: 789,
 8957: 790,
 8958: 791,
 8961: 792,
 8965: 793,
 8970: 794,
 8972: 795,
 8984: 796,
 27741: 797,
 30812: 798,
 30816: 799,
 31878: 800,
 32029: 801,
 32031: 802,
 32296: 803,
 32587: 804,
 33162: 805,
 33493: 806,
 33794: 807,
 33836: 808,
 34048: 809,
 34319: 810,
 37741: 811,
 38388: 812,
 42002: 813,
 45499: 814,
 45517: 815,
 45668: 816,
 45730: 817,
 46530: 818,
 48783: 819,
 48997: 820,
 49272: 821,
 49278: 822,
 49286: 823,
 49824: 824,
 586: 825,
 187: 826,
 627: 827,
 922: 828,
 1037: 829,
 1095: 830,
 1674: 831,
 1987: 832,
 2011: 833,
 2023: 834,
 2300: 835,
 2877: 836,
 2901: 837,
 3173: 838,
 3328: 839,
 3735: 840,
 4131: 841,
 4558: 842,
 5447: 843,
 5451: 844,
 5481: 845,
 5507: 846,
 5841: 847,
 5843: 848,
 5872: 849,
 5890: 850,
 5891: 851,
 5893: 852,
 5902: 853,
 5956: 854,
 5962: 855,
 5965: 856,
 5988: 857,
 6001: 858,
 6044: 859,
 1028: 860,
 1088: 861,
 1247: 862,
 1307: 863,
 3882: 864,
 4447: 865,
 5066: 866,
 5377: 867,
 5620: 868,
 5943: 869,
 5957: 870,
 6155: 871,
 6266: 872,
 6377: 873,
 6535: 874,
 6942: 875,
 7149: 876,
 7151: 877,
 7154: 878,
 7169: 879,
 7293: 880,
 7375: 881,
 7451: 882,
 7458: 883,
 8529: 884,
 8533: 885,
 8869: 886,
 8969: 887,
 30749: 888,
 31433: 889,
 31685: 890,
 33145: 891,
 33679: 892,
 40629: 893,
 40819: 894,
 41285: 895,
 47099: 896,
 51662: 897,
 51705: 898,
 51834: 899,
 54286: 900,
 56367: 901,
 56949: 902,
 58047: 903,
 59333: 904,
 59421: 905,
 60397: 906,
 60950: 907,
 61250: 908,
 63113: 909,
 63992: 910,
 64969: 911,
 66203: 912,
 68954: 913,
 69406: 914,
 69844: 915,
 70183: 916,
 70293: 917,
 71579: 918,
 72011: 919,
 72330: 920,
 72407: 921,
 72720: 922,
 72737: 923,
 72998: 924,
 73017: 925,
 74450: 926,
 77841: 927,
 78772: 928,
 79091: 929,
 80549: 930,
 81784: 931,
 81845: 932,
 81847: 933,
 82167: 934,
 82499: 935,
 84374: 936,
 86548: 937,
 87222: 938,
 88163: 939,
 88810: 940,
 91104: 941,
 92259: 942,
 94070: 943,
 95167: 944,
 95449: 945,
 95510: 946,
 95543: 947,
 96079: 948,
 97024: 949,
 97938: 950,
 98203: 951,
 103335: 952,
 103339: 953,
 104374: 954,
 105211: 955,
 106489: 956,
 106696: 957,
 107141: 958,
 109374: 959,
 109853: 960,
 112006: 961,
 113275: 962,
 113394: 963,
 119145: 964,
 129428: 965,
 136020: 966,
 137595: 967,
 140110: 968,
 44: 969,
 376: 970,
 511: 971,
 529: 972,
 1100: 973,
 1358: 974,
 1370: 975,
 1385: 976,
 1438: 977,
 1518: 978,
 1586: 979,
 1604: 980,
 1608: 981,
 1616: 982,
 1687: 983,
 1693: 984,
 1721: 985,
 1840: 986,
 1882: 987,
 1918: 988,
 2002: 989,
 2027: 990,
 1357: 991,
 1405: 992,
 1876: 993,
 2072: 994,
 2100: 995,
 2421: 996,
 2485: 997,
 2572: 998,
 2581: 999,
 ...}

In [59]:
len(dl_movie2movie_encoded)

9721

In [20]:
dl_movie_encoded2movie = {i: x for i, x in enumerate(movieindex)}
dl_movie_encoded2movie

{0: 1,
 1: 3,
 2: 6,
 3: 47,
 4: 50,
 5: 70,
 6: 101,
 7: 110,
 8: 151,
 9: 157,
 10: 163,
 11: 216,
 12: 223,
 13: 231,
 14: 235,
 15: 260,
 16: 296,
 17: 316,
 18: 333,
 19: 349,
 20: 356,
 21: 362,
 22: 367,
 23: 423,
 24: 441,
 25: 457,
 26: 480,
 27: 500,
 28: 527,
 29: 543,
 30: 552,
 31: 553,
 32: 590,
 33: 592,
 34: 593,
 35: 596,
 36: 608,
 37: 648,
 38: 661,
 39: 673,
 40: 733,
 41: 736,
 42: 780,
 43: 804,
 44: 919,
 45: 923,
 46: 940,
 47: 943,
 48: 954,
 49: 1009,
 50: 1023,
 51: 1024,
 52: 1025,
 53: 1029,
 54: 1030,
 55: 1031,
 56: 1032,
 57: 1042,
 58: 1049,
 59: 1060,
 60: 1073,
 61: 1080,
 62: 1089,
 63: 1090,
 64: 1092,
 65: 1097,
 66: 1127,
 67: 1136,
 68: 1196,
 69: 1197,
 70: 1198,
 71: 1206,
 72: 1208,
 73: 1210,
 74: 1213,
 75: 1214,
 76: 1219,
 77: 1220,
 78: 1222,
 79: 1224,
 80: 1226,
 81: 1240,
 82: 1256,
 83: 1258,
 84: 1265,
 85: 1270,
 86: 1275,
 87: 1278,
 88: 1282,
 89: 1291,
 90: 1298,
 91: 1348,
 92: 1377,
 93: 1396,
 94: 1408,
 95: 1445,
 96: 1473,
 97: 1500,
 98: 1517,
 99: 1552,
 100: 1573,
 101: 1580,
 102: 1587,
 103: 1617,
 104: 1620,
 105: 1625,
 106: 1644,
 107: 1676,
 108: 1732,
 109: 1777,
 110: 1793,
 111: 1804,
 112: 1805,
 113: 1920,
 114: 1927,
 115: 1954,
 116: 1967,
 117: 2000,
 118: 2005,
 119: 2012,
 120: 2018,
 121: 2028,
 122: 2033,
 123: 2046,
 124: 2048,
 125: 2054,
 126: 2058,
 127: 2078,
 128: 2090,
 129: 2093,
 130: 2094,
 131: 2096,
 132: 2099,
 133: 2105,
 134: 2115,
 135: 2116,
 136: 2137,
 137: 2139,
 138: 2141,
 139: 2143,
 140: 2161,
 141: 2174,
 142: 2193,
 143: 2253,
 144: 2268,
 145: 2273,
 146: 2291,
 147: 2329,
 148: 2338,
 149: 2353,
 150: 2366,
 151: 2387,
 152: 2389,
 153: 2395,
 154: 2406,
 155: 2414,
 156: 2427,
 157: 2450,
 158: 2459,
 159: 2470,
 160: 2478,
 161: 2492,
 162: 2502,
 163: 2528,
 164: 2529,
 165: 2542,
 166: 2571,
 167: 2580,
 168: 2596,
 169: 2616,
 170: 2617,
 171: 2628,
 172: 2640,
 173: 2641,
 174: 2644,
 175: 2648,
 176: 2654,
 177: 2657,
 178: 2692,
 179: 2700,
 180: 2716,
 181: 2761,
 182: 2797,
 183: 2826,
 184: 2858,
 185: 2872,
 186: 2899,
 187: 2916,
 188: 2944,
 189: 2947,
 190: 2948,
 191: 2949,
 192: 2959,
 193: 2985,
 194: 2987,
 195: 2991,
 196: 2993,
 197: 2997,
 198: 3033,
 199: 3034,
 200: 3052,
 201: 3053,
 202: 3062,
 203: 3147,
 204: 3168,
 205: 3176,
 206: 3243,
 207: 3247,
 208: 3253,
 209: 3273,
 210: 3386,
 211: 3439,
 212: 3440,
 213: 3441,
 214: 3448,
 215: 3450,
 216: 3479,
 217: 3489,
 218: 3527,
 219: 3578,
 220: 3617,
 221: 3639,
 222: 3671,
 223: 3702,
 224: 3703,
 225: 3729,
 226: 3740,
 227: 3744,
 228: 3793,
 229: 3809,
 230: 4006,
 231: 5060,
 232: 318,
 233: 1704,
 234: 6874,
 235: 8798,
 236: 46970,
 237: 48516,
 238: 58559,
 239: 60756,
 240: 68157,
 241: 71535,
 242: 74458,
 243: 77455,
 244: 79132,
 245: 80489,
 246: 80906,
 247: 86345,
 248: 89774,
 249: 91529,
 250: 91658,
 251: 99114,
 252: 106782,
 253: 112552,
 254: 114060,
 255: 115713,
 256: 122882,
 257: 131724,
 258: 31,
 259: 647,
 260: 688,
 261: 720,
 262: 849,
 263: 914,
 264: 1093,
 265: 1124,
 266: 1263,
 267: 1272,
 268: 1302,
 269: 1371,
 270: 2080,
 271: 2288,
 272: 2424,
 273: 2851,
 274: 3024,
 275: 3210,
 276: 3949,
 277: 4518,
 278: 5048,
 279: 5181,
 280: 5746,
 281: 5764,
 282: 5919,
 283: 6238,
 284: 6835,
 285: 7899,
 286: 7991,
 287: 26409,
 288: 70946,
 289: 72378,
 290: 21,
 291: 32,
 292: 45,
 293: 52,
 294: 58,
 295: 106,
 296: 125,
 297: 126,
 298: 162,
 299: 171,
 300: 176,
 301: 190,
 302: 215,
 303: 222,
 304: 232,
 305: 247,
 306: 265,
 307: 319,
 308: 342,
 309: 345,
 310: 348,
 311: 351,
 312: 357,
 313: 368,
 314: 417,
 315: 450,
 316: 475,
 317: 492,
 318: 509,
 319: 538,
 320: 539,
 321: 588,
 322: 595,
 323: 599,
 324: 708,
 325: 759,
 326: 800,
 327: 892,
 328: 898,
 329: 899,
 330: 902,
 331: 904,
 332: 908,
 333: 910,
 334: 912,
 335: 920,
 336: 930,
 337: 937,
 338: 1046,
 339: 1057,
 340: 1077,
 341: 1079,
 342: 1084,
 343: 1086,
 344: 1094,
 345: 1103,
 346: 1179,
 347: 1183,
 348: 1188,
 349: 1199,
 350: 1203,
 351: 1211,
 352: 1225,
 353: 1250,
 354: 1259,
 355: 1266,
 356: 1279,
 357: 1283,
 358: 1288,
 359: 1304,
 360: 1391,
 361: 1449,
 362: 1466,
 363: 1597,
 364: 1641,
 365: 1719,
 366: 1733,
 367: 1734,
 368: 1834,
 369: 1860,
 370: 1883,
 371: 1885,
 372: 1892,
 373: 1895,
 374: 1907,
 375: 1914,
 376: 1916,
 377: 1923,
 378: 1947,
 379: 1966,
 380: 1968,
 381: 2019,
 382: 2076,
 383: 2109,
 384: 2145,
 385: 2150,
 386: 2186,
 387: 2203,
 388: 2204,
 389: 2282,
 390: 2324,
 391: 2336,
 392: 2351,
 393: 2359,
 394: 2390,
 395: 2467,
 396: 2583,
 397: 2599,
 398: 2683,
 399: 2712,
 400: 2762,
 401: 2763,
 402: 2770,
 403: 2791,
 404: 2843,
 405: 2874,
 406: 2921,
 407: 2926,
 408: 2973,
 409: 3044,
 410: 3060,
 411: 3079,
 412: 3083,
 413: 3160,
 414: 3175,
 415: 3204,
 416: 3255,
 417: 3317,
 418: 3358,
 419: 3365,
 420: 3408,
 421: 3481,
 422: 3508,
 423: 3538,
 424: 3591,
 425: 3788,
 426: 3851,
 427: 3897,
 428: 3911,
 429: 3967,
 430: 3996,
 431: 4002,
 432: 4014,
 433: 4020,
 434: 4021,
 435: 4027,
 436: 4029,
 437: 4033,
 438: 4034,
 439: 4074,
 440: 4121,
 441: 4144,
 442: 4166,
 443: 4226,
 444: 4239,
 445: 4246,
 446: 4252,
 447: 4260,
 448: 4273,
 449: 4308,
 450: 4347,
 451: 4381,
 452: 4641,
 453: 4741,
 454: 4765,
 455: 4881,
 456: 4896,
 457: 4902,
 458: 4967,
 459: 34,
 460: 36,
 461: 39,
 462: 150,
 463: 153,
 464: 253,
 465: 261,
 466: 266,
 467: 290,
 468: 300,
 469: 344,
 470: 364,
 471: 380,
 472: 410,
 473: 474,
 474: 515,
 475: 531,
 476: 534,
 477: 594,
 478: 597,
 479: 2,
 480: 4,
 481: 5,
 482: 7,
 483: 8,
 484: 10,
 485: 11,
 486: 13,
 487: 15,
 488: 16,
 489: 17,
 490: 19,
 491: 22,
 492: 24,
 493: 25,
 494: 26,
 495: 27,
 496: 41,
 497: 43,
 498: 46,
 499: 54,
 500: 60,
 501: 61,
 502: 62,
 503: 65,
 504: 66,
 505: 76,
 506: 79,
 507: 86,
 508: 87,
 509: 88,
 510: 89,
 511: 92,
 512: 93,
 513: 95,
 514: 100,
 515: 102,
 516: 104,
 517: 105,
 518: 112,
 519: 113,
 520: 135,
 521: 140,
 522: 141,
 523: 145,
 524: 146,
 525: 158,
 526: 159,
 527: 160,
 528: 161,
 529: 165,
 530: 168,
 531: 170,
 532: 174,
 533: 177,
 534: 179,
 535: 180,
 536: 181,
 537: 185,
 538: 186,
 539: 189,
 540: 191,
 541: 195,
 542: 196,
 543: 201,
 544: 204,
 545: 205,
 546: 207,
 547: 208,
 548: 209,
 549: 210,
 550: 212,
 551: 217,
 552: 218,
 553: 219,
 554: 224,
 555: 225,
 556: 230,
 557: 234,
 558: 236,
 559: 237,
 560: 239,
 561: 240,
 562: 243,
 563: 248,
 564: 250,
 565: 251,
 566: 252,
 567: 254,
 568: 256,
 569: 257,
 570: 258,
 571: 262,
 572: 267,
 573: 270,
 574: 271,
 575: 273,
 576: 274,
 577: 276,
 578: 277,
 579: 279,
 580: 281,
 581: 282,
 582: 288,
 583: 289,
 584: 291,
 585: 292,
 586: 293,
 587: 302,
 588: 303,
 589: 304,
 590: 310,
 591: 312,
 592: 313,
 593: 314,
 594: 315,
 595: 317,
 596: 327,
 597: 329,
 598: 330,
 599: 332,
 600: 336,
 601: 337,
 602: 339,
 603: 340,
 604: 343,
 605: 347,
 606: 350,
 607: 352,
 608: 353,
 609: 354,
 610: 355,
 611: 358,
 612: 359,
 613: 360,
 614: 361,
 615: 366,
 616: 370,
 617: 371,
 618: 374,
 619: 377,
 620: 378,
 621: 381,
 622: 382,
 623: 383,
 624: 405,
 625: 412,
 626: 415,
 627: 416,
 628: 419,
 629: 426,
 630: 432,
 631: 434,
 632: 435,
 633: 437,
 634: 440,
 635: 445,
 636: 454,
 637: 455,
 638: 458,
 639: 460,
 640: 466,
 641: 468,
 642: 469,
 643: 472,
 644: 477,
 645: 485,
 646: 489,
 647: 490,
 648: 491,
 649: 493,
 650: 494,
 651: 497,
 652: 502,
 653: 505,
 654: 508,
 655: 510,
 656: 516,
 657: 520,
 658: 524,
 659: 532,
 660: 536,
 661: 537,
 662: 540,
 663: 542,
 664: 546,
 665: 548,
 666: 569,
 667: 575,
 668: 587,
 669: 606,
 670: 609,
 671: 616,
 672: 628,
 673: 631,
 674: 637,
 675: 640,
 676: 662,
 677: 667,
 678: 694,
 679: 697,
 680: 700,
 681: 704,
 682: 709,
 683: 710,
 684: 711,
 685: 719,
 686: 747,
 687: 762,
 688: 765,
 689: 775,
 690: 783,
 691: 795,
 692: 799,
 693: 801,
 694: 802,
 695: 818,
 696: 830,
 697: 835,
 698: 837,
 699: 838,
 700: 839,
 701: 842,
 702: 848,
 703: 852,
 704: 867,
 705: 880,
 706: 881,
 707: 888,
 708: 891,
 709: 979,
 710: 981,
 711: 986,
 712: 991,
 713: 996,
 714: 999,
 715: 1004,
 716: 1006,
 717: 1061,
 718: 1064,
 719: 1082,
 720: 750,
 721: 924,
 722: 1101,
 723: 1246,
 724: 1584,
 725: 1610,
 726: 1682,
 727: 1784,
 728: 1917,
 729: 2671,
 730: 2688,
 731: 2701,
 732: 2717,
 733: 3114,
 734: 3354,
 735: 3623,
 736: 3869,
 737: 3916,
 738: 3977,
 739: 3994,
 740: 4018,
 741: 4223,
 742: 4306,
 743: 4310,
 744: 4370,
 745: 4643,
 746: 4700,
 747: 4844,
 748: 4874,
 749: 4886,
 750: 4963,
 751: 4993,
 752: 4995,
 753: 5218,
 754: 5349,
 755: 5378,
 756: 5445,
 757: 5459,
 758: 5464,
 759: 5502,
 760: 5618,
 761: 5816,
 762: 5952,
 763: 5989,
 764: 5991,
 765: 6333,
 766: 6365,
 767: 6534,
 768: 6539,
 769: 6863,
 770: 6934,
 771: 7143,
 772: 7153,
 773: 7155,
 774: 7445,
 775: 8207,
 776: 8360,
 777: 8368,
 778: 8373,
 779: 8528,
 780: 8636,
 781: 8665,
 782: 8666,
 783: 8783,
 784: 8808,
 785: 8865,
 786: 8870,
 787: 8907,
 788: 8908,
 789: 8949,
 790: 8957,
 791: 8958,
 792: 8961,
 793: 8965,
 794: 8970,
 795: 8972,
 796: 8984,
 797: 27741,
 798: 30812,
 799: 30816,
 800: 31878,
 801: 32029,
 802: 32031,
 803: 32296,
 804: 32587,
 805: 33162,
 806: 33493,
 807: 33794,
 808: 33836,
 809: 34048,
 810: 34319,
 811: 37741,
 812: 38388,
 813: 42002,
 814: 45499,
 815: 45517,
 816: 45668,
 817: 45730,
 818: 46530,
 819: 48783,
 820: 48997,
 821: 49272,
 822: 49278,
 823: 49286,
 824: 49824,
 825: 586,
 826: 187,
 827: 627,
 828: 922,
 829: 1037,
 830: 1095,
 831: 1674,
 832: 1987,
 833: 2011,
 834: 2023,
 835: 2300,
 836: 2877,
 837: 2901,
 838: 3173,
 839: 3328,
 840: 3735,
 841: 4131,
 842: 4558,
 843: 5447,
 844: 5451,
 845: 5481,
 846: 5507,
 847: 5841,
 848: 5843,
 849: 5872,
 850: 5890,
 851: 5891,
 852: 5893,
 853: 5902,
 854: 5956,
 855: 5962,
 856: 5965,
 857: 5988,
 858: 6001,
 859: 6044,
 860: 1028,
 861: 1088,
 862: 1247,
 863: 1307,
 864: 3882,
 865: 4447,
 866: 5066,
 867: 5377,
 868: 5620,
 869: 5943,
 870: 5957,
 871: 6155,
 872: 6266,
 873: 6377,
 874: 6535,
 875: 6942,
 876: 7149,
 877: 7151,
 878: 7154,
 879: 7169,
 880: 7293,
 881: 7375,
 882: 7451,
 883: 7458,
 884: 8529,
 885: 8533,
 886: 8869,
 887: 8969,
 888: 30749,
 889: 31433,
 890: 31685,
 891: 33145,
 892: 33679,
 893: 40629,
 894: 40819,
 895: 41285,
 896: 47099,
 897: 51662,
 898: 51705,
 899: 51834,
 900: 54286,
 901: 56367,
 902: 56949,
 903: 58047,
 904: 59333,
 905: 59421,
 906: 60397,
 907: 60950,
 908: 61250,
 909: 63113,
 910: 63992,
 911: 64969,
 912: 66203,
 913: 68954,
 914: 69406,
 915: 69844,
 916: 70183,
 917: 70293,
 918: 71579,
 919: 72011,
 920: 72330,
 921: 72407,
 922: 72720,
 923: 72737,
 924: 72998,
 925: 73017,
 926: 74450,
 927: 77841,
 928: 78772,
 929: 79091,
 930: 80549,
 931: 81784,
 932: 81845,
 933: 81847,
 934: 82167,
 935: 82499,
 936: 84374,
 937: 86548,
 938: 87222,
 939: 88163,
 940: 88810,
 941: 91104,
 942: 92259,
 943: 94070,
 944: 95167,
 945: 95449,
 946: 95510,
 947: 95543,
 948: 96079,
 949: 97024,
 950: 97938,
 951: 98203,
 952: 103335,
 953: 103339,
 954: 104374,
 955: 105211,
 956: 106489,
 957: 106696,
 958: 107141,
 959: 109374,
 960: 109853,
 961: 112006,
 962: 113275,
 963: 113394,
 964: 119145,
 965: 129428,
 966: 136020,
 967: 137595,
 968: 140110,
 969: 44,
 970: 376,
 971: 511,
 972: 529,
 973: 1100,
 974: 1358,
 975: 1370,
 976: 1385,
 977: 1438,
 978: 1518,
 979: 1586,
 980: 1604,
 981: 1608,
 982: 1616,
 983: 1687,
 984: 1693,
 985: 1721,
 986: 1840,
 987: 1882,
 988: 1918,
 989: 2002,
 990: 2027,
 991: 1357,
 992: 1405,
 993: 1876,
 994: 2072,
 995: 2100,
 996: 2421,
 997: 2485,
 998: 2572,
 999: 2581,
 ...}

In [61]:
len(dl_movie_encoded2movie)

9721

In [21]:
not_all_ratings["movie"] = not_all_ratings["movieId"].map(dl_movie2movie_encoded)
not_all_ratings["movie"]

<ipython-input-21-f44992cb78f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_all_ratings["movie"] = not_all_ratings["movieId"].map(dl_movie2movie_encoded)

0            0
1            1
2            2
3            3
4            4
          ...
100831    3117
100832    2032
100833    3118
100834    1389
100835    2870
Name: movie, Length: 100474, dtype: int64

In [22]:
not_all_ratings

,userId,movieId,title,rating,movieindex,movie
0,1,1,Toy Story (1995),4.0,0.0,0
1,1,3,Grumpier Old Men (1995),4.0,1.0,1
2,1,6,Heat (1995),4.0,2.0,2
3,1,47,Seven (a.k.a. Se7en) (1995),5.0,3.0,3
4,1,50,"Usual Suspects, The (1995)",5.0,4.0,4
...,...,...,...,...,...,...
100831,610,166534,Split (2017),4.0,NaN,3117
100832,610,168248,John Wick: Chapter Two (2017),5.0,NaN,2032
100833,610,168250,Get Out (2017),5.0,NaN,3118
100834,610,168252,Logan (2017),5.0,NaN,1389
100835,610,170875,The Fate of the Furious (2017),3.0,NaN,2870

In [ ]:
Try using .loc[row_indexer,col_indexer] = value instead
Try using .loc[row_indexer,col_indexer] = value instead

In [ ]:
dfmi.loc[:, ('one', 'second')]

In [66]:
not_all_ratings.loc[:, ('movieId', movies_not_watched['index'])]

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [67]:
not_all_ratings.loc[:, ('movieId','movieindex')] = movies_not_watched['index']

ValueError: Must have equal len keys and value when setting with an iterable

In [68]:
not_all_ratings.loc[:, ('movieId','movieindex')] = dl_movie2movie_encoded

ValueError: Must have equal len keys and value when setting with an iterable

In [71]:
not_all_ratings.loc[:, ('movie','movieId')]

        movie  movieId
0           0        1
1           1        3
2           2        6
3           3       47
4           4       50
...       ...      ...
100831   3117   166534
100832   2032   168248
100833   3118   168250
100834   1389   168252
100835   2870   170875

[100474 rows x 2 columns]

In [23]:
not_all_ratings["rating"] = not_all_ratings["rating"].values.astype(np.float32)

<ipython-input-23-dd59c32fac4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_all_ratings["rating"] = not_all_ratings["rating"].values.astype(np.float32)

In [24]:
not_all_ratings["rating"]

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: rating, Length: 100474, dtype: float32

In [25]:
not_all_ratings.loc[:, ('movie','movieId', 'rating')]

        movie  movieId  rating
0           0        1     4.0
1           1        3     4.0
2           2        6     4.0
3           3       47     5.0
4           4       50     5.0
...       ...      ...     ...
100831   3117   166534     4.0
100832   2032   168248     5.0
100833   3118   168250     5.0
100834   1389   168252     5.0
100835   2870   170875     3.0

[100474 rows x 3 columns]

In [ ]:
user_ids = all_ratings["userId"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}

In [26]:
not_all_user_ids = not_all_ratings["userId"].unique().tolist()
dl_user2user_encoded = {x: i for i, x in enumerate(not_all_user_ids)}
dl_userencoded2user = {i: x for i, x in enumerate(not_all_user_ids)}

In [42]:
not_all_user_ids = not_all_ratings["userId"].unique().tolist()
dl_user2user_encoded = {x: i for i, x in enumerate(not_all_user_ids)}
dl_userencoded2user = {i: x for i, x in enumerate(not_all_user_ids)}

In [27]:
#all_ratings["user"] = all_ratings["userId"].map(user2user_encoded)
not_all_ratings["user"] = not_all_ratings["userId"].map(dl_user2user_encoded)

<ipython-input-27-ab06b6cd7682>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_all_ratings["user"] = not_all_ratings["userId"].map(dl_user2user_encoded)

In [28]:
min_rating = min(not_all_ratings["rating"])
max_rating = max(not_all_ratings["rating"])
num_users = len(dl_user2user_encoded)
num_movies = len(dl_movie_encoded2movie)
print(
        "Number of users: {}, Number of Movies: {}, Min rating: {}, Max rating: {}".format(
            num_users, num_movies, min_rating, max_rating
        )
    )

Number of users: 610, Number of Movies: 9721, Min rating: 0.5, Max rating: 5.0

In [38]:
all_rate = all_ratings.sample(frac=1, random_state=42)
x = all_rate[["user", "movie"]].values
# Normalize the targets between 0 and 1. Makes it easy to train.
y = all_rate["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
# Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:],
)

KeyError: "None of [Index(['user', 'movie'], dtype='object')] are in the [columns]"

In [117]:
x

array([[ 431, 4730],
       [ 287,  474],
       [ 598, 2631],
       ...,
       [ 479, 2240],
       [   5,  712],
       [ 102, 2046]])

In [118]:
x.shape #original x

(100836, 2)

In [29]:
df = not_all_ratings.sample(frac=1, random_state=42)
x = not_all_ratings[["user", "movie"]].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

In [56]:
x_train, x_val, y_train, y_val

(array([[   0,    0],
        [   0,    1],
        [   0,    2],
        ...,
        [ 589,  109],
        [ 589, 2395],
        [ 589,  993]]),
 array([[ 589, 1528],
        [ 589,  728],
        [ 589,  377],
        ...,
        [ 609, 3118],
        [ 609, 1389],
        [ 609, 2870]]),
 array([0.77777778, 0.77777778, 0.77777778, ..., 0.44444444, 0.66666667,
        0.55555556]),
 array([0.55555556, 0.44444444, 0.44444444, ..., 1.        , 1.        ,
        0.55555556]))

In [114]:
df = not_all_ratings.sample(frac=1, random_state=42)
x = not_all_ratings[["user", "movie"]].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

In [115]:
x.shape #my first x

(100474, 2)

In [82]:
df = not_all_ratings.sample(frac=1, random_state=42)
x = not_all_ratings[["user", "movie"]].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

In [83]:
x_train, x_val, y_train, y_val

(array([[   0,    0],
        [   0,    1],
        [   0,    2],
        ...,
        [ 589,  109],
        [ 589, 2395],
        [ 589,  993]]),
 array([[ 589, 1528],
        [ 589,  728],
        [ 589,  377],
        ...,
        [ 609, 3118],
        [ 609, 1389],
        [ 609, 2870]]),
 array([0.77777778, 0.77777778, 0.77777778, ..., 0.44444444, 0.66666667,
        0.55555556]),
 array([0.55555556, 0.44444444, 0.44444444, ..., 1.        , 1.        ,
        0.55555556]))

In [103]:
df = not_all_ratings.sample(frac=1, random_state=42)
#x = not_all_ratings[["user", "movie"]].values
x = not_all_ratings["movie"].values

    # Normalize the targets between 0 and 1. Makes it easy to train.
y = not_all_ratings["rating"].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values
    # Assuming training on 90% of the data and validating on 10%.
train_indices = int(0.9 * df.shape[0])
x_train, x_val, y_train, y_val = (
        x[:train_indices],
        x[train_indices:],
        y[:train_indices],
        y[train_indices:],
    )

In [104]:
x_train, x_val, y_train, y_val

(array([   0,    1,    2, ...,  109, 2395,  993]),
 array([1528,  728,  377, ..., 3118, 1389, 2870]),
 array([0.77777778, 0.77777778, 0.77777778, ..., 0.44444444, 0.66666667,
        0.55555556]),
 array([0.55555556, 0.44444444, 0.44444444, ..., 1.        , 1.        ,
        0.55555556]))

In [105]:
x_train.shape

(90426,)

In [106]:
x.shape #my one column x
#have to see what to do with this as input and the model

(100474,)

In [77]:
all_ratings['user']

0           0
1           0
2           0
3           0
4           0
         ...
100831    609
100832    609
100833    609
100834    609
100835    609
Name: user, Length: 100836, dtype: int64

In [ ]:
#ต้องไปเอา user ออกอีกเหมือนกัน

In [98]:
#ตรงนี้แหละผิด
user_movie_array = not_all_ratings["movie"]
user_movie_array
#ทำไมที่เราอยากได้ถึงมีแค่ shape (9741, 2)??

0            0
1            1
2            2
3            3
4            4
          ...
100831    3117
100832    2032
100833    3118
100834    1389
100835    2870
Name: movie, Length: 100474, dtype: int64

In [99]:
not_all_movies

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [101]:
user_movie_array = not_all_movies["index"]
user_movie_array

0          0
1          1
2          2
3          3
4          4
        ...
9737    9737
9738    9738
9739    9739
9740    9740
9741    9741
Name: index, Length: 9742, dtype: int64

In [31]:
user_movie_array = movies_not_watched[['fake_id','index']]
user_movie_array

      fake_id  index
0           1      0
1           1      1
2           1      2
3           1      3
4           1      4
...       ...    ...
9737        1   9737
9738        1   9738
9739        1   9739
9740        1   9740
9741        1   9741

[9739 rows x 2 columns]

In [32]:
user_movie_array.shape

(9739, 2)

In [40]:
max_movie_index = user_movie_array['index'].max()
max_movie_index+1

9742

In [71]:
user_movie_array.to_numpy()

array([[   1,    0],
       [   1,    1],
       [   1,    2],
       ...,
       [   1, 9739],
       [   1, 9740],
       [   1, 9741]])

In [72]:
user_movie_array.shape

(9739, 2)

In [77]:
user_movie_array

      fake_id  index
0           1      0
1           1      1
2           1      2
3           1      3
4           1      4
...       ...    ...
9737        1   9737
9738        1   9738
9739        1   9739
9740        1   9740
9741        1   9741

[9739 rows x 2 columns]

In [33]:
that = user_movie_array.to_numpy()
that

array([[   1,    0],
       [   1,    1],
       [   1,    2],
       ...,
       [   1, 9739],
       [   1, 9740],
       [   1, 9741]])

In [ ]:
#050121
สิ่งที่ยังไม่เคลียร์ก็คือ shape ของ x และ user_movie_array และความสัมพันธ์ของมัน
จริงๆแล้ว x คืออะไร shape เท่าไหร่

user_movie_array คิดว่าตามด้านบนนี้ถูกแล้ว ความยาวตาม all_movies คือ เก้าพันกว่า
        
x = dot_user_movie + user_bias + movie_bias
#x = not_all_ratings[["user", "movie"]].values


x.shape #original x
(100836, 2)

คือความยาวเท่ากับ all_ratings
เป็น not_all_ratings["userId"], not_all_ratings["movie"] ซึ่งตัวหลังนี้ก็คือ not_all_movies["index"] น่ะแหละ 
แต่ต้องเปลี่ยนความยาวให้เท่ากับ all_ratings

In [4]:
import tensorflow as tf
tf.version.VERSION

'2.3.1'

In [41]:
EMBEDDING_SIZE = 50

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

class RecommenderNet(keras.Model):
        def __init__(self, num_users, num_movies, embedding_size, **kwargs):
            super(RecommenderNet, self).__init__(**kwargs)
            self.num_users = num_users
            self.num_movies = num_movies
            self.embedding_size = embedding_size
            self.user_embedding = layers.Embedding(
                num_users,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.user_bias = layers.Embedding(num_users, 1)
            self.movie_embedding = layers.Embedding(
            #change this line from num_movies to max_movie_index+1
                max_movie_index+1,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            #and this line
            self.movie_bias = layers.Embedding(max_movie_index+1, 1)

        def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            return tf.nn.sigmoid(x)


model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
        loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
    )
ratings = model.predict(that).flatten()

In [ ]:
#ข้อควรระวัง
input_dim แยกให้ออกว่าใส่อะไรเข้าไปเท่าไหร่ จำนวนmovies คือ 9721 แล้วอะไรคือ 9739, 9742??
แต่ไม่ใช่ index ที่มากที่สุด ซึ่งคือ 9742

In [53]:
num_movies

9721

In [42]:
ratings

array([0.49616775, 0.47930464, 0.4858116 , ..., 0.4915872 , 0.501281  ,
       0.49237823], dtype=float32)

In [46]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
top_ratings_indices

array([6984, 6991, 7006, 4421, 6337, 6990, 6352, 4442, 4428, 7495])

In [58]:
top_ratings_indices = ratings.argsort()[-10:][::-1]

In [ ]:
recommended_movie_ids = [dl_movie_encoded2movie.get(movies_not_watched[x][0]) for x in top_ratings_indices
]
#have to figure out this line

In [ ]:
ขาออกมาก็เหมือนกัน ได้ index มาแล้ว แต่ใส่กลับเข้าไปที่ไหน ต้องใส่ใน dl_movie_encoded2movie หรือเปล่า
ใส่กลับไปใน not_all_ratings กับ not_all_movies กับ movies_not_watched ก็ออกมาไม่เหมือนกัน??

In [47]:
not_all_ratings.loc[not_all_ratings['movie'] == 6984]

       userId  movieId                title  rating  movieindex  movie  user
52711     345    27751  'Salem's Lot (2004)     5.0         NaN   6984   344

In [50]:
not_all_ratings.loc[not_all_ratings['movie'].isin(top_ratings_indices)]

,userId,movieId,title,rating,movieindex,movie,user
16894,105,151769,Three from Prostokvashino (1978),5.0,NaN,4421,104
16903,105,163386,Winnie the Pooh and the Day of Concern (1972),5.0,NaN,4428,104
16920,105,172793,Vovka in the Kingdom of Far Far Away (1965),5.0,NaN,4442,104
40918,275,4809,Silkwood (1983),5.0,NaN,6337,274
41414,280,70984,Taking Woodstock (2009),2.0,NaN,6352,279
49571,318,70984,Taking Woodstock (2009),3.5,NaN,6352,317
52711,345,27751,'Salem's Lot (2004),5.0,NaN,6984,344
52815,346,4404,Faust (1926),4.0,NaN,6990,345
52816,346,4422,Cries and Whispers (Viskningar och rop) (1972),4.0,NaN,6991,345
53111,351,6263,Basic (2003),3.5,NaN,7006,350
57488,380,6263,Basic (2003),4.0,NaN,7006,379
63775,414,4777,"American Astronaut, The (2001)",2.5,NaN,7495,413
69824,448,70984,Taking Woodstock (2009),3.5,NaN,6352,447
74347,474,4809,Silkwood (1983),4.0,NaN,6337,473
80926,510,4809,Silkwood (1983),3.5,NaN,6337,509
96992,603,4422,Cries and Whispers (Viskningar och rop) (1972),4.0,NaN,6991,602

In [52]:
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

,index,movieId,title,genres,fake_id
4421,4421,6533,"What's Up, Doc? (1972)",Comedy,1
4428,4428,6541,"League of Extraordinary Gentlemen, The (a.k.a....",Action|Fantasy|Sci-Fi,1
4442,4442,6560,Loose Cannons (1990),Action|Comedy,1
6337,6337,48982,Flushed Away (2006),Animation|Comedy,1
6352,6352,49286,"Holiday, The (2006)",Comedy|Romance,1
6984,6984,66915,Rock-A-Doodle (1991),Adventure|Animation|Children|Musical,1
6990,6990,67193,Duplicity (2009),Crime|Romance|Thriller,1
6991,6991,67197,Knowing (2009),Action|Drama|Mystery|Sci-Fi|Thriller,1
7006,7006,67923,"Fast & Furious (Fast and the Furious 4, The) (...",Action|Crime|Drama|Thriller,1
7495,7495,82852,Little Fockers (2010),Comedy,1

In [55]:
dl_movie_encoded2movie[6984]

27751

In [61]:
recommended_movie_ids = [dl_movie_encoded2movie[x] for x in top_ratings_indices]
recommended_movie_ids

[27751, 4422, 6263, 151769, 4809, 4404, 70984, 172793, 163386, 4777]

In [62]:
not_all_ratings.loc[not_all_ratings['movie'].isin(recommended_movie_ids)]

,userId,movieId,title,rating,movieindex,movie,user
16875,105,141816,12 Chairs (1976),5.0,NaN,4404,104
16896,105,152591,Ip Man 3 (2015),4.0,NaN,4422,104
19436,125,91690,Friends with Kids (2011),4.5,NaN,4777,124
19536,125,149830,Pride and Prejudice and Zombies (2016),4.5,NaN,4809,124
37168,249,91690,Friends with Kids (2011),2.5,NaN,4777,248
40276,274,37382,Domino (2005),3.5,NaN,6263,273
47561,307,37382,Domino (2005),3.0,NaN,6263,306
57678,380,37382,Domino (2005),3.0,NaN,6263,379
64444,414,37382,Domino (2005),3.0,NaN,6263,413
64854,414,91690,Friends with Kids (2011),4.0,NaN,4777,413
76968,480,37382,Domino (2005),1.5,NaN,6263,479
89714,580,37382,Domino (2005),3.5,NaN,6263,579
94503,599,37382,Domino (2005),2.5,NaN,6263,598
100151,610,37382,Domino (2005),3.0,NaN,6263,609

In [65]:
#i guess this is it!
movies_not_watched.loc[movies_not_watched['index'].isin(top_ratings_indices)]

,index,movieId,title,genres,fake_id
4421,4421,6533,"What's Up, Doc? (1972)",Comedy,1
4428,4428,6541,"League of Extraordinary Gentlemen, The (a.k.a....",Action|Fantasy|Sci-Fi,1
4442,4442,6560,Loose Cannons (1990),Action|Comedy,1
6337,6337,48982,Flushed Away (2006),Animation|Comedy,1
6352,6352,49286,"Holiday, The (2006)",Comedy|Romance,1
6984,6984,66915,Rock-A-Doodle (1991),Adventure|Animation|Children|Musical,1
6990,6990,67193,Duplicity (2009),Crime|Romance|Thriller,1
6991,6991,67197,Knowing (2009),Action|Drama|Mystery|Sci-Fi|Thriller,1
7006,7006,67923,"Fast & Furious (Fast and the Furious 4, The) (...",Action|Crime|Drama|Thriller,1
7495,7495,82852,Little Fockers (2010),Comedy,1

In [59]:
x

array([[   0,    0],
       [   0,    1],
       [   0,    2],
       ...,
       [ 609, 3118],
       [ 609, 1389],
       [ 609, 2870]])

In [60]:
x.shape

(100474, 2)

In [113]:
x

array([   0,    1,    2, ..., 3118, 1389, 2870])

In [ ]:
507, 8376, 7090

In [73]:
EMBEDDING_SIZE = 50

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

class RecommenderNet(keras.Model):
        def __init__(self, num_users, num_movies, embedding_size, **kwargs):
            super(RecommenderNet, self).__init__(**kwargs)
            self.num_users = num_users
            self.num_movies = num_movies
            self.embedding_size = embedding_size
            self.user_embedding = layers.Embedding(
                num_users,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.user_bias = layers.Embedding(num_users, 1)
            self.movie_embedding = layers.Embedding(
                num_movies,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.movie_bias = layers.Embedding(num_movies, 1)

        def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            return tf.nn.sigmoid(x)


model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
        loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
    )
ratings = model.predict(user_movie_array).flatten()

InvalidArgumentError:  indices[22] = 9721 is not in [0, 9721)
	 [[node recommender_net_2/embedding_10/embedding_lookup (defined at <ipython-input-58-32d2998ab22f>:31) ]] [Op:__inference_predict_function_1516]

Function call stack:
predict_function

In [108]:
EMBEDDING_SIZE = 50

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

class RecommenderNet(keras.Model):
        def __init__(self, num_users, num_movies, embedding_size, **kwargs):
            super(RecommenderNet, self).__init__(**kwargs)
            self.num_users = num_users
            self.num_movies = num_movies
            self.embedding_size = embedding_size
            self.user_embedding = layers.Embedding(
                num_users,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.user_bias = layers.Embedding(num_users, 1)
            self.movie_embedding = layers.Embedding(
                num_movies,
                embedding_size,
                embeddings_initializer="he_normal",
                embeddings_regularizer=keras.regularizers.l2(1e-6),
            )
            self.movie_bias = layers.Embedding(num_movies, 1)

        def call(self, inputs):
            user_vector = self.user_embedding(inputs[:, 0])
            user_bias = self.user_bias(inputs[:, 0])
            movie_vector = self.movie_embedding(inputs[:, 1])
            movie_bias = self.movie_bias(inputs[:, 1])
            dot_user_movie = tf.tensordot(user_vector, movie_vector, 2)
            # Add all the components (including bias)
            x = dot_user_movie + user_bias + movie_bias
            # The sigmoid activation forces the rating to between 0 and 1
            return tf.nn.sigmoid(x)


model = RecommenderNet(num_users, num_movies, EMBEDDING_SIZE)
model.compile(
        loss=tf.keras.losses.BinaryCrossentropy(), optimizer=keras.optimizers.Adam(lr=0.001)
    )
ratings = model.predict(user_movie_array).flatten()

ValueError: in user code:

    /opt/conda/lib/python3.8/site-packages/tensorflow/python/keras/engine/training.py:1462 predict_function  *
        return step_function(self, iterator)
    <ipython-input-93-32d2998ab22f>:31 call  *
        movie_vector = self.movie_embedding(inputs[:, 1])
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/util/dispatch.py:201 wrapper
        return target(*args, **kwargs)
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/ops/array_ops.py:1013 _slice_helper
        return strided_slice(
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/util/dispatch.py:201 wrapper
        return target(*args, **kwargs)
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/ops/array_ops.py:1186 strided_slice
        op = gen_array_ops.strided_slice(
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/ops/gen_array_ops.py:10347 strided_slice
        _, _, _op, _outputs = _op_def_library._apply_op_helper(
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/framework/op_def_library.py:742 _apply_op_helper
        op = g._create_op_internal(op_type_name, inputs, dtypes=None,
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/framework/func_graph.py:591 _create_op_internal
        return super(FuncGraph, self)._create_op_internal(  # pylint: disable=protected-access
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/framework/ops.py:3477 _create_op_internal
        ret = Operation(
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/framework/ops.py:1974 __init__
        self._c_op = _create_c_op(self._graph, node_def, inputs,
    /opt/conda/lib/python3.8/site-packages/tensorflow/python/framework/ops.py:1815 _create_c_op
        raise ValueError(str(e))

    ValueError: slice index 1 of dimension 1 out of bounds. for '{{node recommender_net_4/strided_slice_2}} = StridedSlice[Index=DT_INT32, T=DT_INT64, begin_mask=1, ellipsis_mask=0, end_mask=1, new_axis_mask=0, shrink_axis_mask=2](ExpandDims, recommender_net_4/strided_slice_2/stack, recommender_net_4/strided_slice_2/stack_1, recommender_net_4/strided_slice_2/stack_2)' with input shapes: [?,1], [2], [2], [2] and with computed input tensors: input[1] = <0 1>, input[2] = <0 2>, input[3] = <1 1>.

In [ ]:
import numpy as np

user_movie_array = np.hstack(

    ([[user_encoder]] * len(movies_not_watched), movies_not_watched)

)

user_movie_array

array([[ 289,  481],
       [ 289,    1],
       [ 289,  482],
       ...,
       [ 289, 3870],
       [ 289, 2989],
       [ 289, 7869]])

user_movie_array.shape

(9457, 2)

In [94]:
user_movie_array #ผิด

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100474, dtype: int64

In [1]:
user_movie_array

NameError: name 'user_movie_array' is not defined

In [95]:
user_movie_array.shape

(100474,)

In [97]:
not_all_movies

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,9739,193585,Flint (2017),Drama
9740,9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
#either เปลี่ยนให้รับคอลัมน์เดียว ซึ่งยากกว่าแต่สมควรทำ
#หรือเติม userId เข้าไปใน not_all_movies ง่ายกว่ามากแต่จะทำไปทำไม

In [ ]:
ValueError: slice index 1 of dimension 1 out of bounds. 
    for '{{node recommender_net_2/strided_slice_2}} = StridedSlice[Index=DT_INT32, 
    T=DT_INT64, begin_mask=1, ellipsis_mask=0, end_mask=1, new_axis_mask=0, shrink_axis_mask=2]
    (ExpandDims, recommender_net_2/strided_slice_2/stack, 
     recommender_net_2/strided_slice_2/stack_1, 
     recommender_net_2/strided_slice_2/stack_2)'
    with input shapes: [?,1], [2], [2], [2] 
        and with computed input tensors: input[1] = <0 1>, input[2] = <0 2>, input[3] = <1 1>.

In [ ]:
 ValueError: slice index 1 of dimension 1 out of bounds. 
        for '{{node recommender_net_5/strided_slice_2}} = StridedSlice[Index=DT_INT32, 
        T=DT_INT64, begin_mask=1, ellipsis_mask=0, end_mask=1, new_axis_mask=0, shrink_axis_mask=2]
        (ExpandDims, recommender_net_5/strided_slice_2/stack, 
         recommender_net_5/strided_slice_2/stack_1, 
         recommender_net_5/strided_slice_2/stack_2)'
        with input shapes: [?,1], [2], [2], [2] 
            and with computed input tensors: input[1] = <0 1>, input[2] = <0 2>, input[3] = <1 1>.